body {
  margin: 0;
  font-family: sans-serif;
}

.hashtag-header {
 padding:4rem;
  background-color: #065fd4;
  color:white;
  background-image: url('image/background.png');
  background-repeat: no-repeat;
  background-size: 260px;
background-position-x: 100%;
background-position-y:-160px ;
}
h1{
    margin:0;
    margin-bottom:1rem;
    font-size: 4rem;
}
.hashtag-header span{
    font-size: 2rem;
}
.hashtag-header img{
width: 5rem;
height: 5rem;
border-radius: 50%;
border: 5px solid white;
vertical-align: middle;

}
/* adjacent sibling selector */
img+img{
    margin-left: -1rem;
}